<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SearchInterval" value="1"/>
		<add key="OracleCommandTimeOut" value="36000"/>
		<add key="SMSConnString" value="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 168.100.168.64)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = dzgas)));User Id=dzgasuser;Password=pass;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;"/>
		<add key="ObjKey" value="iAj8Cat9pFk5Q8pHSGWJN17nAmC0mLFb"/>
		<add key="MessageDataWebService" value="http://172.30.0.189:8669/MessageDataService.asmx"/>
		<add key="IsLocalhost" value="WS"/>
		<add key="XinXiStart" value="1"/>
		<add key="MobileMAS" value="1"/>
		<add key="WeiXinStart" value="0"/>
		<add key="DuanXianStart" value="0"/>
		<!-- 短信相关参数 -->
		<add key="SMSUrl" value="http://116.228.223.137:60080/msg/"/>
		<add key="SMSAccount" value="shsjRq"/>
		<add key="SMSPassword" value="shsjRq555555"/>
		<!-- 移动MAS相关参数 -->
		<add key="Url" value="https://112.33.46.17:37892/sms/submit"/>
		<add key="TMPUrl" value="https://112.33.46.17:37892/sms/tmpsubmit"/>
		<add key="ecName" value="上海松江燃气有限公司"/>
		<add key="apId" value="sh3h_sj"/>
		<add key="secretKey" value="Shanghai3h@2025"/>
		<add key="sign" value="lWntKXnR6"/>
		<!-- 微信相关参数 -->
		<add key="appid" value="wx58a14dbd9c7c7420"/>
		<add key="appsecret" value="a414a4722f6ed7d477709555b429c1bf"/>
		<add key="topcolor" value="#FF0000"/>
	</appSettings>
	<connectionStrings>
		<add name="BusinessConnString" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.127.54)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = shgasdb)));User Id=shgasuser;Password=smsc20160106;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
